<md-card class="snippet-card" *ngFor="let snippet of snippets | async" (click)="goToSnippet(snippet)" >
  <md-card-header>
    <div md-card-avatar class="snippet-avitar"></div>
    <md-card-title> <h2>{{snippet.title}}</h2></md-card-title>
    <md-card-subtitle>{{snippet.tags?.join(", ")}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>{{snippet.description}}</p>
  </md-card-content>
  <md-card-actions align="end">
    <div class="id"><label>ID: </label>{{snippet.id}}</div>
    <button md-raised-button (click)="goToSnippet(snippet)" >View Full Snippet</button>
  </md-card-actions>
</md-card>
