.snippet-card {
    max-width: 800px;
    padding: 20px;
    min-width: .90vw;
}

.snippet-avitar {
  background-image: url('../../assets/img/code-image.jpg');
  background-size: cover;
}

.mat-card-title {
    font-weight: bold;
    font-size: 1.2rem;
}