.snippet-card {
    max-width: 800px;
    padding: 20px;
    min-width: .90vw;
}

.snippet-avitar {
  background-image: url('../../assets/img/code-image.jpg');
  background-size: cover;
  height: 55px;
  width: 55px;
}

.id {
    position: fixed;
    left: 0;
    margin: 10px;
    color: #bbb;
}